* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

li {
  list-style: none;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  background: #e7e7ec;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: #322153;
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #322153;
  font-weight: 700;
}

header a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
  height: 20px;
  width: 20px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 560px;
}

main h1 {
  font-size: 54px;
}

main p {
  font-size: 24px;
  line-height: 38px;
  margin-top: 24px;
}

main a {
  background: #34cb79;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  width: 100%;
  max-width: 360px;
  border-radius: 8px;
  margin-top: 40px;
  -webkit-transition: 400ms;
  transition: 400ms;
  color: white;
}

main a:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

main a span {
  background-color: rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 72px;
  width: 72px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

main a span::after {
  background-image: url("../assets/search.svg");
  height: 20px;
  width: 20px;
  content: "";
}

main a strong {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

form {
  background-color: white;
  max-width: 730px;
  margin: 80px auto;
  padding: 64px;
  border-radius: 8px;
}

form h1 {
  font-size: 36px;
}

form fieldset {
  margin-top: 64px;
  border: 0;
}

form legend {
  margin-bottom: 40px;
}

form legend h2 {
  font-size: 24px;
}

form input, form select {
  background-color: #e7e7ec;
  padding: 16px 24px;
  border: 0;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

form label {
  margin-bottom: 8px;
  font-size: 15px;
}

form button {
  background-color: #34cb79;
  width: 260px;
  height: 56px;
  margin-top: 40px;
  border: 0;
  border-radius: 8px;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

form button:hover {
  background-color: #2fb86e;
}

form .field {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}

form .field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form .field-group .field + .field {
  margin-left: 24px;
}

.items-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.items-grid li {
  background-color: #e7e7ec;
  border: 2px solid #e7e7ec;
  border-radius: 8px;
  height: 180px;
  padding: 32px 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  cursor: pointer;
}

.items-grid li span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  color: #322153;
}

.items-grid li img, .items-grid li span {
  pointer-events: none;
}

.items-grid li.selected {
  background-color: #e1faec;
  border: 2px solid #34cb79;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}

#page-home {
  height: 100vh;
  background: url("../assets/home-background.svg") no-repeat;
  background-position: 35vw bottom;
}

#page-home .content {
  height: 100%;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page-home header span {
  background-image: url("../assets/log-in.svg");
}

#page-create-point {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-create-point header span {
  background-image: url("../assets/arrow-left.svg");
  height: 24px;
}

@media (max-width: 900px) {
  #page-home {
    background-position: 70vw;
  }
  #page-home .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #page-home header a {
    position: absolute;
    bottom: 48px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #page-home main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1700px) {
  #page-home {
    background-position-x: 40vw;
  }
}

@media (max-height: 760px) {
  #page-home {
    background-position-y: 200px;
  }
}
/*# sourceMappingURL=main.css.map */