#register-form {
  background-color: white;
  max-width: 730px;
  margin: 80px auto;
  padding: 64px;
  border-radius: 8px;

  h1 {
    font-size: 36px;
  }

  fieldset {
    margin-top: 64px;
    border: 0;
  }

  legend {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h2 {
      font-size: 24px;
    }

    span {
      color: $title-color;
    }
  }

  input, select {
    background-color: $background-color;
    padding: 16px 24px;
    border: 0;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
  }

  label {
    margin-bottom: 8px;
    font-size: 15px;
  }

  button { 
    background-color: $primary-color;
    width: 260px;
    height: 56px;
    margin-top: 40px;
    border: 0;
    border-radius: 8px;
    transition: background-color 400ms;

    color: white;
    font-weight: bold;
    font-size: 16px;

    &:hover {
      background-color: $primary-color-strong;
    }

  }

  .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .field-group {
    display: flex;
    
    .field + .field {
      margin-left: 24px;
    }
  }
}

#modal-form {
  label {
    font-size: 16px;
    line-height: 16px;

    display: block;
    margin-bottom: 11px;
  }

  select {
    background-color: $background-color;
    border-radius: 8px;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #6c6c80;
  }

  button {
    background-color: $primary-color;
    padding: 16px 24px;
    border-radius: 8px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transition: 400ms;
    font-size: 16px;
    color: white;
    cursor: pointer;

    &:hover {
      filter: brightness(0.7);
    }

    strong {
      margin-left: 5px;
    }
  }

  .fields-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
}