header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;

  a {
    display: flex;
    align-items: center;
    color: $title-color;
    font-weight: 700;

    span {
      display: flex;
      margin-right: 16px;
      height: 20px;
      width: 20px;
    }
  }
}
