{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block title %}
  <title>Register a collection point</title>
{% endblock title %}

{% block content %}
  {% include "partials/page-header.html" %}

  <form id="register-form">
    <h1>Collection point registration</h1>
    <fieldset>
      <legend>
        <h2>Collection point data</h2>
      </legend>
      <div class="field-group">
        <div class="field">
          <label for="name">Entity name</label>
          <input type="text" name="name">
        </div>
        <div class="field">
          <label for="image">Entity image</label>
          <input type="url" name="image" placeholder="http://" required="required">
        </div>
      </div>
      <div class="field">
        <label for="address">Address</label>
        <input type="text" name="address">
      </div>
      <div class="field-group">
        <div class="field">
          <label for="address2">Number/Complement</label>
          <input type="text" name="address2">
        </div>
        <div class="field">
          <label for="country">Country</label>
          <select name="country">
            <option value="">Select a country</option>
            {% for country in countries %}
              <option value="{{country.code}}">{{country.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="field-group">
        <div class="field">
          <label for="region">Region</label>
          <select name="region" disabled="disabled"></select>
        </div>
        <div class="field">
          <label for="city">City</label>
          <select name="city" disabled="disabled">
            <option value="">Select a city</option>
          </select>
        </div>
      </div>
      <div id="map"></div>
      <input type="hidden" name="latitude" value=""/>
      <input type="hidden" name="longitude" value=""/>
    </fieldset>
    <fieldset>
      <legend>
        <h2>Collection items</h2>
        <span>Select one or more items</span>
      </legend>
      <div class="items-grid">
        <li data-id="1">
          <img src="../assets/lamps.svg" alt="Lamps">
          <span>Lamps</span>
        </li>
        <li data-id="2">
          <img src="../assets/batteries.svg" alt="Batteries">
          <span>Batteries</span>
        </li>
        <li data-id="3">
          <img src="../assets/paper.svg" alt="Papers and Cardboards">
          <span>Papers and Cardboards</span>
        </li>
        <li data-id="4">
          <img src="../assets/eletronics.svg" alt="Eletronics">
          <span>Eletronics</span>
        </li>
        <li data-id="5">
          <img src="../assets/organics.svg" alt="Organics">
          <span>Organics</span>
        </li>
        <li data-id="6">
          <img src="../assets/oil.svg" alt="Cooking Oil">
          <span>Cooking Oil</span>
        </li>
      </div>
      <input type="hidden" name="items">
    </fieldset>
    <button type="submit ">Save the collection point</button>
  </form>
{% endblock content %}

{% block script %}
  <script type="application/javascript" src="../scripts/create-point.js"></script>
  <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=KEY&callback=initMap&libraries=&v=weekly" defer="defer"></script>
{% endblock script %}